<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Super Zapatos", root_path, id: "logo", class: "brand" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "Stores", root_path %>
					</li>
					<li>
						<%= link_to "Articles", articles_path %>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
